@use 'variables' as vars;

// border

.no-border {
	border: none;
}

// margins
.mt-24 {
	margin-top: 24px;
}

.mr-24 {
	margin-right: 24px;
}

.mr-90 {
	margin-right: 90px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-43 {
	margin-bottom: 43px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-48 {
	margin-bottom: 48px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-64 {
	margin-bottom: 64px;
}

.mb-100 {
	margin-bottom: 100px !important;
}

.mb-200 {
	margin-bottom: 200px;
}
// paddings

.pt-16 {
	padding-top: 16px;
}

.pt-100 {
	padding-top: 100px !important;
}

.pt-200 {
	padding-top: 200px !important;
}

.pb-200 {
	padding-bottom: 200px !important;
}

// text props


.uppercase {
	text-transform: uppercase;
}

.text-decoration-none {
	text-decoration: none;
}

.text-center {
	text-align: center;
}


@media screen and (max-width: 1239px) {
	.to-700 {
		font-weight: 700;

	}
}
// text color

.text-white {
	color: vars.$white !important;
}

.text-orange {
	color: vars.$orange;
}

.text-dark-gray {
	color: vars.$dark-gray;
}


// background
.bg-purple {
	background: vars.$purple;
}


.bg-green {
	background: vars.$green;
}

.bg-dark {
	background: vars.$dark;
}

.bg-transparent {
	background: transparent;
}

.bg-red {
	background: vars.$red;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
// display flex props

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-to-column {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 1239px) {
	.flex-row-to-column {
		flex-direction: column;
		align-items: flex-start !important;
	}
}

.align-center {
	align-items: center;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.gap-15 {
	gap: 15px;
}

.gap-16 {
	gap: 16px;
}

.gap-18 {
	gap: 18px;
}

.gap-24 {
	gap: 24px;
}

.gap-25-50 {
	gap: 25px 50px ;
}

sup {
	font-size: 32px;
}