.hero {
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 25px;
}

.hero::before {
	background-position: center;
  background-size: cover;
	background-image: url('../images/Morten\ Harket.png') !important;
	z-index: -1;
}

.hero-btn-block {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 1239px) {
	.hero-btn-block {
		flex-direction: column;
	}
	.hero {
		width: 100%;
		position: relative;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.btn-hero {
	width: 200px;
	padding: 20px 30px;
	font-size: 12.8px;
	border: none;
}
