@use 'variables' as vars;

main {
	position: relative;
}

main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
	z-index: -1;
}

@media screen and (max-width: 1239px) {
	#page-description {
		padding-top: 250px !important;
		padding-bottom: 200px !important;
	}
	main {
		h2 {
			margin-bottom: 16px !important;
		}
	}

	.gap-3 {
		gap: 3px;
	}
	
}

.registration-form {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
}

.registration-input {
	min-width: 270px;
	min-height: 50px;
	padding-left: 20px;
	border: 2px solid vars.$dark-gray;
	border-radius: 3px;
	background: transparent;
	&::placeholder {
		color: vars.$white;

	}
}

@media screen and (max-width: 1239px) {
	.registration-input {
		width: 100%;
		font-size: 14px;
		line-height: 16px;
		&::placeholder {
			font-weight: 700;
		}
	}
}



.btn-submit {
	border: 1px solid vars.$black;
	font-size: 13.3px;
	line-height: 15px;
	width: 100%;
	font-family: Arial;
}