@use 'variables' as vars;

.plan-description {
	font-size: 12.8px;
	line-height: 150%;
}

.pricing-plan-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.pricing-plan-item {
	position: relative;
	padding-top: 1.5rem;
	border-radius: 1rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-bottom: 4rem;
	min-width: calc((100% - 100px) / 3);
	max-width: 366px;
	z-index: 1;
}

.pricing-plan-item::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background-image: url('../images/subscribe_1.png');
  background-position: center;
  background-size: cover;
	z-index: -1;
}

.pricing-plan-item:nth-of-type(2)::before {
	background-image: url('../images/subscribe_2.png');
}

.pricing-plan-item:nth-of-type(3)::before {
	background-image: url('../images/subscribe_3.png');
}

.btn-order {
	border: 1px solid vars.$gray;
	padding-top: 21px;
	padding-bottom: 21px;
}

.plan-price {
	font-size: 64px;
	line-height: 1em;
}

sup {
	font-size: 38px;
}

.plan-name {
	font-weight: 400;
	font-size: 24px;
}

@media screen and (max-width: 1240px) {
	.plan-name {
		font-size: 16px;
	}
}