@use 'variables' as vars;

.avatar {
	width: 19px;
}

.news-author {
	font-size: 12px;
	line-height: 19.2px;
}

.news-item {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.news-img, .news-description {
	flex-basis: 575px;
	flex-grow: 1;
	flex-shrink: 1;
}

.reverse {
	flex-direction: row-reverse;
}

.news-header {
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 45px;
	font-weight: normal;
}

.btn-to-album {
	border: 1px solid vars.$dark-gray;
	border-radius: 5px;
	font-size: 12px;
}

@media screen and (max-width: 1239px) {
	.news-item {
		flex-direction: row-reverse;
	}
	.news-img, .news-description {
		width: 100%;
	}
	.reverse {
		flex-direction: row;
	}

	.news-author {
		font-size: 12.8px;
		line-height: 150%;
	}

	.btn-to-album {
		font-size: 12px;
	}

	.news-header {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 24px;
		font-weight: normal;
	}
}