@use 'variables' as vars;



.plans {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.plan {
	position: relative;
	flex: 1 1 366px;
	padding: 0 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 16px;
	padding-top: 24px;
}

@media screen and (max-width: 1239px) {
	.plan {
		padding-top: 18px;
	}
}

.plan::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/subscribe_1.png);
	// background-position: center;
  background-size: cover;
	z-index: -1;
	border-radius: 16px;
}

.plan:nth-of-type(2)::before {
	background: url(../images/subscribe_2.png);
	// background-position: center;
  background-size: cover;
}

.plan:nth-of-type(3)::before {
	background: url(../images/subscribe_3.png);
	// background-position: center;
  background-size: cover;
}

.plan-name {
	font-size: 24px;
	line-height: 36px;
}

@media screen and (max-width: 1239px) {
	.plan-name {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
	}
}

.plan-price {
	p {
		font-size: 64px;
		line-height: 100%;
	}
	sup {
		margin-left: 16px;
		font-size: 32px;
		line-height: 100%;
	}
}

.btn-order {
	font-size: 16px;
	line-height: 150%;
}

.plan-description {
	font-size: 12.67px;
	line-height: 150%;
}

.btn-order {
	// border-radius: 16px;
	border: 1px solid vars.$white;
}