.similar-image {
	width: 250px;
}

.similar-info {
	h3 {
		font-size: 18px;
		line-height: 27px;
	}
	p {
		font-size: 16px;
		line-height: 150%;
	}
}



@media screen and (max-width: 1240px) and (min-width: 414px) {
	.similar-image, .similar-item {
		width: 137px;
	}
}