$green: rgb(52, 193, 118);
$orange: rgb(248, 146, 2);
$black: rgb(8, 2, 13);
$gray: rgb(224, 224, 224);
$dark-gray: rgb(202, 202, 202);
$dark: rgb(60, 59, 61);
$purple: rgb(83, 40, 161);
$red: rgb(149, 57, 12);
$white: rgb(225, 225, 225);