@import url("./variables.scss");
body {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
.pt-5 {
  padding-top: 5px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mt-48 {
  margin-top: 48px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-25 {
  margin-left: 25px;
}

.white {
  color: #fff;
}

.bg-green {
  background: #34c176;
}

.bg-transparent {
  background: transparent;
}

.text-standart {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.no-li-decor {
  list-style: none;
}

.no-decor {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.order-1 {
  order: 1;
}

.gap-50 {
  gap: 50px;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

h1 {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  width: 100%;
}

h2 {
  font-family: "Roboto";
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
}

header {
  width: 100%;
  position: absolute;
  top: 25px;
  font-size: 11px;
  line-height: 16px;
}

.logo-img {
  height: 24px;
  width: 24px;
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-item:hover {
  color: #fff;
  cursor: pointer;
  box-sizing: content-box;
}

.search {
  font-size: 13.3px;
  line-height: 15px;
  box-sizing: border-box;
  min-width: 248px;
  margin-left: auto;
  background: #3c3b3d;
  border-radius: 50px;
  border: none;
}

.page-description {
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.page-description-text {
  font-size: 16px;
  line-height: 24px;
}

.registration {
  justify-content: space-between;
  width: 570px;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.registration-input {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.registration-input::-moz-placeholder {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.registration-input:-ms-input-placeholder {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.registration-input::placeholder {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.registration-submit {
  width: 570px;
}

.page-news {
  width: 100%;
}

.news-header {
  font-size: 30px;
  line-height: 45px;
  /* identical to box height, or 150% */
  text-transform: capitalize;
}

.news-text {
  font-size: 16px;
  line-height: 150%;
}

.author {
  font-size: 12.8px;
  line-height: 150%;
  color: #f89202;
}

.post-date {
  font-size: 12.8px;
  line-height: 150%;
}

.to-album {
  font-size: 12px;
  line-height: 19px;
  padding: 17px 30px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #cacaca;
  display: inline-block;
}

.page-app {
  width: 100%;
}

.download-app {
  margin-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  box-sizing: content-box;
  text-decoration: none;
  padding: 16px 40px;
  font-size: 12.8px;
  line-height: 150%;
  background: #95390c;
  border-radius: 32px;
  text-transform: capitalize;
}

.page-app-img {
  margin: 0 auto;
}

.footer {
  width: 100%;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer a {
  display: block;
  text-decoration: none;
  color: #e0e0e0;
}

.white-line {
  width: 100%;
  height: 2px;
  background: #fff;
}

.footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-top p {
  margin: 0;
}

.footer-bot {
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
  .header {
    flex-wrap: wrap;
  }
  .container {
    box-sizing: border-box;
    width: 100%;
  }
  .logo {
    width: 100%;
    margin-bottom: 17px;
  }
  .nav {
    width: 100%;
    flex-wrap: wrap;
  }
  .nav-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2px;
  }
  .search {
    width: 100%;
    margin-left: 0;
    margin-top: 18px;
  }
  .page-description {
    min-width: 100%;
  }
  .registration {
    width: 570px;
    max-width: 100%;
  }
  .registration-input {
    min-width: 100%;
  }
  .registration-submit {
    min-width: 100%;
  }
  .news-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-img {
    width: 100%;
    order: 0;
  }
  .page-app-inner-container {
    flex-wrap: wrap;
  }
  .page-app-description {
    order: 1;
    width: 100%;
  }
  .footer-item {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}/*# sourceMappingURL=app.css.map */